.dashboard {
  height: 100vh;
}
.trigger {
  padding: 0 24px;
  font-size: 20px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  :hover {
    color: #1890ff;
  }
}

.logo-space{
  margin: 20px;
  margin-left: 30px;
  img {
    border-radius: 50px;
  }
  h1 {
    height: 32px;
    color: #fff;
    font-weight: bolder;
    font-size: 26px;
  }
  h2{
    margin: 0;
    color: #fff;
  }
  span{
    color: rgb(94, 94, 94);
  }
}

.site-layout-background{
  background: #fff;
}

.ant-layout-sider {
  min-width: 255px !important;
}
.ant-layout-sider-collapsed {
  min-width: 80px !important ;
}