.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #072643c6;
  .ant-card {
    border-radius: 20px;
    box-shadow: 4px 6px 10px #07264380;
    display: flex;
    justify-content: center;
    .ant-card-body {
      width: 100%;
      display: flex;
      flex-direction: column;
      h2 {
        font-size: 28px;
        font-weight: bold;
        text-align: center;
      }
      button {
        display: flex;
        justify-content: center;
        span {
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }
}