.deposit,.loan{
  display: flex;
  flex-direction: column;
  align-items: center;

  h1{
    font-size: 32px;
    font-weight: bolder;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}